/*formatações gerais*/



#titulo{
	position: relative;
	top: 10px;
	color: #696969;
	font-family: all;
}

#menu{
	display: inline;
	padding: 25px 0px;
	width: 100%;
	float: left;
	text-decoration: none;
}

#menu ul{
	text-align: center;
}


#loc{
	text-align: center;
}

*{
	box-sizing: border-box;
}

body{
	font-family: arial, sans-serif, monospace;
	margin: 0;
	font-size: 1.0em;
	/*text-align: center;*/
}

header, footer{
	padding: 10px;
}

footer{
	background-color: #CCC;
	text-align: center;
	margin: 5px;
}

h1{
	text-align: center;
}

/*menu*/

nav li {
	padding: 8px;
	margin-bottom: 8px; 
	background-color: green;
	color: #FFFFFF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

nav ul{
	list-style-type: none;
	display: inline;
	margin: 5px;
	padding: 10px;
	text-transform: uppercase;
}


#sec-1, #sec-2, #heli, #Bell, #menu, #ser, #cont, #loc, #v1, #v2{ 
	width: 100%;
	float: left;
	padding: 10px;
}

#contato{
	position: fixed;
	bottom: 15px;
	right: 10px; 
	width: 100px;
	background-color: orange;
	padding: 15px;
	display: none;
}

@media only screen and (min-width: 600px){
	#sec-1{
		width: 100%;
	}
	#sec-2{
		width: 80%;
		padding: 5px;
	}
	#contato{
		display: block;
	}
	#v1, #v2{
		width: 320px; 
		height: 240px;
	}

}

@media only screen and (min-width: 900px){
	#sec-1{
		width: 60%;
	}
	#sec-2{
		width: 60%;
	}
	#menu{
		width: 20%;
	}
	#ser{
		float: left;
		width: 60%;
	}
	#heli{
		width: 60%;
	}
	#cont{
		width: 60%;
	}
}

iframe{
	float: left;
	margin: 5px;
}

video{
	float: left;
	padding: 1px;
	margin-top: 1px;
	top: 10px;
	margin-bottom: 10px;
}

.col1{
	clear: right;
}

/*formulários*/

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select, textarea{
	border: 2px solid black;
	margin: 10px 0px;
	border-radius: 5px;
	padding: 5px 10px;
	color: black;
	font-family: monospace;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {
	border: 2px solid #572000;
	background-color: #CCC;
	font-weight: bold;
}


/*botões*/

input[type="submit"], input[type="reset"]{
	background-color: #CCC;
	color: black;
	width: 150px;
	height: 40px;
	font-weight: bold;
	border:0;
	margin: 5px;
}

input[type="submit"]:hover, input[type="reset"]:hover{
	background-color:darkgreen; 
	color: #CCC;
}

/*links*/

a{
	text-decoration: none;
}

a:link{
	color: black;
}
a:visited{
	color: blue;
}
a:active{
	color: green;
}
a:hover{
	color: red;
	text-shadow: 3px 3px 5px white;
}

/**/

#mensagem{
	margin: 10px 0px;
	padding: 5px 10px;
}


#legacy500, #int_legacy500, #legacy450, #lineage, #int_lineage, #e2, #r44, #Bell{
	width: 300px;
	height: 250px;
	float: left;
}

fieldset{
	width: 600px;
	border:2px solid black;
}

#legacy500:hover, #int_legacy500:hover, #legacy450:hover, #lineage:hover, #int_lineage:hover, #e2:hover{
	box-shadow: 5px 5px 10px black;
	transform: scale(1.2);
	transition: 0.5s;
}

h3{
	clear: left;
}

img, p, figcaption{
	clear: left;
}

footer{
	clear: left;
	margin-top: 30px;
	font-size: 0.9em;
}

img{
	margin-bottom: 5px; 
	float: right;
}

h6{
	float: left;
	margin-left: 0;
}

.escolha{
	margin: 10px 0px;
	padding: 5px 10px;
}

.form{
	padding: 5px;
}

.label_contato{
	margin-left: 0;
	width: 200px;
	text-align: right;
	
}

#tipo, #servico{
	width: 200px;
}

#escolha, #dt, #aero{
	width: 80px;
	text-align: right;
}

#ass, #aero{
	display: inline;
	width: 200px;
	text-align: left;
}

.msg_erro{
	padding-left: 10px;
	padding-top: 5px;
	color: red; 
	font-size: 0.9em;
	font-style: italic;
	display: none;
	margin: 0;
}
